<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
         
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
         
        </div>
        <div class="icon-container">
          <i class="icon-bubbles"></i>
          <div class="dot-indicator bg-danger"></div>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Administratorss</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <span class="menu-title">Exam Officers</span>
     
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course">
        <span class="menu-title">Courses</span>
       
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/grading">
        <span class="menu-title">Grading</span>
      
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/departments">
        <span class="menu-title">Departments</span>
      
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">Exam Officer</span></li>
    <li class="nav-item">
      
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./cat">
        <span class="menu-title">Exam Record</span>
     
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students">
        <span class="menu-title">Students</span>
      
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartist.html">
        <span class="menu-title">Reports</span>
      
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/result">
        <span class="menu-title">Result</span>
 
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/transcript">
        <span class="menu-title">Transcript</span>
      
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">Setting</span></li>
    <li class="nav-item" >
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title" >All Settings</span>
      
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/adminSetup">School Profile</a></li>
       
   
        </ul>
      </div>
    </li>
   
  </ul>
</nav>