
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex align-items-center">
    <a class="navbar-brand brand-logo" href="#">
      <img src="/images/icon/logo.png" alt="ExamAdmin" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="#">   <img src="/images/icon/logo.png" alt="ExamAdmin" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
    <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome ExamAdmin dashboard!</h5>
    <ul class="navbar-nav navbar-nav-right ml-auto">
      <form class="search-form d-none d-md-block" action="#">
        <i class="icon-magnifier"></i>
        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
      </form>
     
     
      <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <img class="img-xs rounded-circle ml-2" src="images/faces/face8.jpg" alt="Profile image"> <span class="font-weight-normal"><?php echo $_SESSION['users']?> </span></a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <% if(typeof user!= 'undefined') {
            %>
         <a class="js-acc-btn" id="user" href="AdminSetup"><%=user%></a>
         <%}%>
          <a class="dropdown-item" " href="AdminSetup"><i class="dropdown-item-icon icon-user text-primary"></i>  Profile <span class="badge badge-pill badge-danger">2</span></a>
         
          <a class="dropdown-item" href="/login"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
<% if(typeof level!= 'undefined' ) {
  %>
  <div class="col-lg-6" hidden><input id="aca_level" class="form-control" value="<%=level%>"  name="username" ></div>
<%}%>
<% if(typeof dept!= 'undefined' ) {
  %>
  <div class="col-lg-6" hidden><input id="dept" class="form-control" value="<%=dept%>"  name="username"></div>
<%}%>
<% if(typeof session!= 'undefined' ) {
  %>
  <div class="col-lg-6" hidden><input id="year" class="form-control" value="<%=session%>"  name="username"></div>
<%}%>

<br>